body{
  margin-left: 80px;
  margin-top: 80px;
  width:550px;
}

.addToDoForm{
  margin-top: 80px;
  padding-top: 80px;
}

#newToDoText {
  border: none;
  border-bottom: 1px solid black;
  width: 500px;
  height: 30px


}

::placeholder {
    color: #A7A7A7;
    font-size: 30px;
    font-weight: lighter;
}

.arrow {
  height:30px;
  width: 30px;
}

#arrowButton {
  float: right;
}

deleteBtn {
  float: right;
}
